.acount {
    display: flex;
    border: 2px solid rgb(46, 19, 19);
    background-color: rgba(0, 0, 0, 0.923);
    width: 300px;
    height: 500px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
}

.form
{
    padding: 8px;
    margin: 10px;
}


.message
{
    border: 2px solid orange;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

body
{
    background: url("../Design/background_map.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: 100%;
    margin: 0;
    padding: 0;
}