<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
        <link rel = 'stylesheet' href="style.css">
    </head>
    <body>
        <center><table>
            <tr>
              <th></th>
              <th>a</th>
              <th>b</th>
              <th>c</th>
              <th>d</th>
              <th>e</th>
              <th>f</th>
              <th>g</th>
              <th>h</th>
            </tr>
            <tr>
              <th>8</th>
              <td class="white">
                  <div class="figure">&#9814</div></td>
              <td class="black">
                  <div class="figure">&#9816</div></td>
              <td class="white">
                  <div class="figure">&#9815</div></td>
              <td class="black">
                  <div class="figure">&#9813</div></td>
              <td class="white">
                  <div class="figure">&#9812</div></td>
              <td class="black">
                  <div class="figure">&#9815</div></td>
              <td class="white">
                  <div class="figure">&#9816</div></td>
              <td class="black">
                  <div class="figure">&#9814</div></td>
            </tr>
            <tr>
              <th>7</th>
              <td class="black">
                  <div class="figure">&#9817</div></td>
              <td class="white">
                  <div class="figure">&#9817</div></td>
              <td class="black">
                  <div class="figure">&#9817</div></td>
              <td class="white">
                  <div class="figure">&#9817</div></td>
              <td class="black">
                  <div class="figure">&#9817</div></td>
              <td class="white">
                  <div class="figure">&#9817</div></td>
              <td class="black">
                  <div class="figure">&#9817</div></td>
              <td class="white">
                  <div class="figure">&#9817</div></td>
            </tr>
            <tr>
              <th>6</th>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
            </tr>
            <tr>
              <th>5</th>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
            </tr>
            <tr>
              <th>4</th>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
            </tr>
            <tr>
              <th>3</th>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
              <td class="black"></td>
              <td class="white"></td>
            </tr>
            <tr>
              <th>2</th>
              <td class="white">
                  <div class="figure">&#9817</div></td>
              <td class="black">
                  <div class="figure">&#9817</div></td>
              <td class="white">
                  <div class="figure">&#9817</div></td>
              <td class="black">
                  <div class="figure">&#9817</div></td>
              <td class="white">
                  <div class="figure">&#9817</div></td>
              <td class="black">
                  <div class="figure">&#9817</div></td>
              <td class="white">
                  <div class="figure">&#9817</div></td>
              <td class="black">
                  <div class="figure">&#9817</div></td>
            </tr>
            <tr>
              <th>1</th>
              <td class="black">
                  <div class="figure">&#9814</div></td>
              <td class="white">
                  <div class="figure">&#9816</div></td>
              <td class="black">
                  <div class="figure">&#9815</div></td>
              <td class="white">
                  <div class="figure">&#9813</div></td>
              <td class="black">
                  <div class="figure">&#9812</div></td>
              <td class="white">
                  <div class="figure">&#9815</div></td>
              <td class="black">
                  <div class="figure">&#9816</div></td>
              <td class="white">
                  <div class="figure">&#9814</div></td>
            </tr>
          </table></center>
    </body>
</html>



<style>

css
table {
  border-collapse: collapse;

}

th,
td {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}
.figure{
    font-size: 50px;
}

.white {
  background-color: white;
}

.black {
  background-color: gray;
}

</style>